<aside class="mdui-drawer<% if(theme.mdui.drawer_close == true) { %> mdui-drawer-close<% } %>">
    <nav class="mdui-list" mdui-collapse="{accordion: true}">
        <a href="<%= url_for(theme.url.avatar) %>" class="mdui-list-item mdui-ripple h-card">
            <div class="mdui-list-item-avatar">
                <% if(theme.drawer.avatar) { %>
                <img alt="<%= config.author %>" class="u-photo" src="<%- theme.drawer.avatar %>" />
                <% } else { %>
                <i class="mdui-color-theme-primary mdui-icon material-icons">person</i>
                <% } %>
            </div>
            <div class="mdui-list-item-content p-name"><%= config.author %></div>
            <span style="display:none" class="u-url u-uid"><%= config.url %></span>
        </a>
        <div class="mdui-divider"></div>
        <% if(theme.drawer.search == true) { %>
        <a href="<%- url_for(theme.url.search) %>" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">search</i>
            <div class="mdui-list-item-content"><%= __("common.search") %></div>
        </a>
        <% } if(theme.drawer.home == true) { %>
        <a href="<%= config.root %>" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
            <div class="mdui-list-item-content"><%= __("common.home") %></div>
        </a>
        <% } %>
        
        <!-- 프로세서 아키텍처 -->
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">memory</i>
                <div class="mdui-list-item-content">💻 프로세서 아키텍처</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="/categories/RISC-V/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">RISC-V</div>
                </a>
                <a href="/categories/Cortex-M/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">Cortex-M</div>
                </a>
            </div>
        </div>

        <!-- 통신 프로토콜 -->
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">device_hub</i>
                <div class="mdui-list-item-content">🔌 통신 프로토콜</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="/categories/APB/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">APB Protocol</div>
                </a>
                <a href="/categories/UART/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">UART</div>
                </a>
                <a href="/categories/I2C/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">I2C</div>
                </a>
                <a href="/categories/SPI/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">SPI</div>
                </a>
            </div>
        </div>

        <!-- HDL & 설계 -->
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">electrical_services</i>
                <div class="mdui-list-item-content">⚡ HDL & 설계</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="/categories/Verilog/" class="mdui-list-item mdui-ripple m">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                    <div class="mdui-list-item-content">Verilog 기초</div>
                </a>
            </div>
        </div>

        <% if(theme.drawer.archives == true) { %>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">inbox</i>
                <div class="mdui-list-item-content"><%= __('common.archive') %></div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <%- list_archives({
                    show_count: false,
                    class: 'mdui-list-item mdui-ripple m',
                    style: 'none',
                    separator: ''
                }) %>
            </div>
        </div>
        <% } if(theme.drawer.categories == true) { %>
        <div class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">apps</i>
                <div class="mdui-list-item-content"><%= __('common.category') %></div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <%- list_categories({
                    show_count: false,
                    class: 'mdui-list-item mdui-ripple m',
                    style: 'none',
                    separator: ''
                }) %>
            </div>
        </div>
<% } if(theme.drawer.tags == true) { %>
<!-- 태그 및 기타 메뉴들을 포함하는 드롭다운 -->
<div class="mdui-collapse-item">
<div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
<i class="mdui-list-item-icon mdui-icon material-icons">local_offer</i>
<div class="mdui-list-item-content"><%= __(“common.tag”) %></div>
<i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
</div>
<div class="mdui-collapse-item-body mdui-list mdui-list-dense">
<!-- 태그 페이지 링크 -->
<a href="<%- url_for(config.tag_dir + '/') %>" class="mdui-list-item mdui-ripple m">
<i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
<div class="mdui-list-item-content">모든 태그</div>
</a>
            <% if(theme.drawer.links == true) { %>
            <!-- 링크 -->
            <a href="<%- url_for(theme.url.links) %>" class="mdui-list-item mdui-ripple m">
                <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                <div class="mdui-list-item-content"><%= __("drawer.links") %></div>
            </a>
            <% } if(theme.drawer.rss == true) { %>
            <!-- RSS -->
            <a href="<%- url_for(theme.url.rss) %>" class="mdui-list-item mdui-ripple m">
                <i class="mdui-list-item-icon mdui-icon material-icons">chevron_right</i>
                <div class="mdui-list-item-content">RSS</div>
            </a>
            <% } if(theme.drawer.custom) { for(var i in theme.drawer.custom) { %>
            <!-- 커스텀 메뉴들 -->
            <a <% if(theme.drawer.custom[i].href) { %>href="<%= theme.drawer.custom[i].href %>"<% } if(theme.drawer.custom[i].onclick) { %>onclick="<%- theme.drawer.custom[i].onclick%>"<% } %> class="mdui-list-item mdui-ripple m">
                <i class="mdui-list-item-icon mdui-icon <%= theme.drawer.custom[i].class %>"><%= theme.drawer.custom[i].content %></i>
                <div class="mdui-list-item-content"><%= i %></div>
            </a>
            <% }} %>
        </div>
    </div>
    <% } else { %>
    <!-- 태그가 비활성화된 경우에도 다른 메뉴들 표시 -->
    <% if(theme.drawer.links == true) { %>
    <a href="<%- url_for(theme.url.links) %>" class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">supervisor_account</i>
        <div class="mdui-list-item-content"><%= __("drawer.links") %></div>
    </a>
    <% } if(theme.drawer.rss == true) { %>
    <a href="<%- url_for(theme.url.rss) %>" class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">rss_feed</i>
        <div class="mdui-list-item-content">RSS</div>
    </a>
    <% } if(theme.drawer.custom) { for(var i in theme.drawer.custom) { %>
        <a <% if(theme.drawer.custom[i].href) { %>href="<%= theme.drawer.custom[i].href %>"<% } if(theme.drawer.custom[i].onclick) { %>onclick="<%- theme.drawer.custom[i].onclick%>"<% } %> class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon <%= theme.drawer.custom[i].class %>"><%= theme.drawer.custom[i].content %></i>
            <div class="mdui-list-item-content"><%= i %></div>
        </a>
    <% }} %>
    <% } %>

    </nav>
    <div class="mdui-divider"></div>
    <footer class="mdui-m-l-2 mdui-m-t-1 mdui-typo mdui-text-color-theme-disabled">
        <p class="mdui-m-b-0">
            <% if(theme.footer.custom) { %><%- theme.footer.custom %><br><% } %>
            ©<% if(theme.footer.since) { %> <%= theme.footer.since %> - <% } %>
            <%- full_date(new Date(), 'YYYY') %> <%= config.author %><br>
            <% if(theme.footer.hosted_on) { %>
            Hosted on <a href="<%= url_for(theme.url.hosted_on) %>" rel="noreferrer"
                target="_blank"><%= theme.footer.hosted_on %></a><br>
            <% } if(theme.footer.powered_by_hexo == true) { %>
            Powered by <a href="https://hexo.io/" rel="noreferrer" target="_blank">Hexo</a><br>
            <% } if(theme.footer.theme_m == true) { %>
            Theme - <a href="https://github.com/kwaa/hexo-theme-m" rel="noreferrer" target="_blank"
                mdui-tooltip="{position:'right', content: 'by 藍+85CD'}">M</a></p>
            <% } %>
    </footer>
</aside>